
    <!-- Footer section -->
    <footer class="footer-section">
        <div class="f">
            <div class="f-social">
                <a href="https://www.facebook.com" target="_blank" class="social-link">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" class="social-link">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank" class="social-link">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>

            <div class="company">
                &copy; QuestNest Private Limited
                <div class="anchor">
                    <a href="/privacy" class="imp">Privacy</a> /
                    <a href="/terms" class="imp">Terms</a>
                </div>
            </div>
        </div>
    </footer>
</body>